<!-- Footer -->
<footer class="footer mt-auto pt-3 bg-orange">
  <div class="container">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://miernik.us3.list-manage.com/subscribe/post?u=0c0ecddb615d9ea799d1a5068&amp;id=5465751e05" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div id="mc_embed_signup_scroll">
	  <h2>Enter an email address to receive more information</h2>
	  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	  <div class="mc-field-group">
	    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
	    </label>
	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	  </div>
	  <div id="mce-responses" class="clear">
	    <div class="response" id="mce-error-response" style="display:none"></div>
	    <div class="response" id="mce-success-response" style="display:none"></div>
	  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c0ecddb615d9ea799d1a5068_5465751e05" tabindex="-1" value=""></div>
	  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary"></div>
	</div>
      </form>
    </div>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->


</footer>
