{% load static %}
{% load sass_tags %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <meta name="description" content="{% block description %}Building a low toxicity world{% endblock %}">
  <!--[if lte IE 8]><script src="{% static 'mainwebsite/js/ie/html5shiv.js' %}"></script><![endif]-->
  <link rel="canonical" href="{% url 'mainwebsite:index'%}">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'mainwebsite/css/main.scss' %}"/>
  <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'mainwebsite/css/ie8.css' %}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'mainwebsite/css/ie9.css' %}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="Lowtox.org" href="{% static '/feed.xml' %}">

  <meta property="og:title" content="{{title}}"/>
  <meta property="og:image" content="https://lowtox.org/images/facebook-share-thumbnail.jpg"/>
  <meta property="og:site_name" content="{{title}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta name="google-site-verification" content="CnuZBRzGaeUnjLJugxizRFuz3a10Xw5Y6kVHWLASIAE" />
  <link rel="icon" href="./favicon.ico?v=3" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@lowtox">
  <meta name="twitter:creator" content="@lowtox">
  <meta name="twitter:title" content="lowtox.org">
  <meta name="twitter:description" content="Supporting Low-tox living">
  <meta name="twitter:image" content="https://lowtox.org/images/twitter-card-ratio.jpg">
</head>
