{% load static %}
<!-- Header -->
<header id="header" class="bg-primary">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center">
                    <a class="navbar-brand" href="{% url 'mainwebsite:index' %}"><img src="{% static 'mainwebsite/images/logo_white_text.png' %}"></a>
                </div>
                <div class="col-md-7">
                </div>

                <!--<div class="col-md-7">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:index' %}">Home</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:intro' %}">Intro</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:who-can-apply' %}">Who can apply ?</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:financial-support' %}">Financial Support</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:tasks' %}">Tasks</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:faq' %}">FAQ</a>
                            <a class="btn btn-light btn-header" href="{% url 'mainwebsite:apply' %}">Apply</a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </nav>
</header>