<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-white bold-text">
                Whether you have chronic diseased or are a bio-hacker optimizing
                for peak-health let's enter into a conversation about
                how we can work together.
            </div>
            <div class="col">
                <a href="{% url 'mainwebsite:apply' %}" class="btn btn-light text-secondary bold-text">Find out more,<br> join Lowtox.org</a>
            </div>
        </div>
    </div>
</footer>
