<!-- templates/registration/login.html -->
{% extends 'base_login.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post" class="form-signin">
  {% csrf_token %}
  <img class="mb-4" src="{% static 'mainwebsite/images/logo.png' %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a href="{% url 'password_reset' %}">Reset password</a>
</form>
{% endblock %}