<!--suppress XmlDuplicatedId -->
{% extends 'polls/_layouts/page.html' %}

{% block title %}Questions{% endblock %}

{% block content %}
<br />
<main role="main">
    <div class="container">
        {% if not question %}
        <h1>You have answered all questions, thank you.</h1>
        {% else %}
        <h1>{{ question.question_text }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% if question.is_number %}
            <div class="form-group">
                <input id="input" name="answer" class="form-control" type="number" value="" required>
                {% if question.label %}
                <label for="input">{{ question.label }}</label>
                {% endif %}
            </div>
            {% endif %}

            {% if question.is_text %}
            <div class="form-group">
                {% if question.label %}
                <label for="input">{{ question.label }}</label>
                {% endif %}
                <textarea id="input" name="answer" value="" class="form-control" required></textarea>
            </div>
            {% endif %}

            {% if question.is_one_answer %}
            <div class="form-check">
                {% for choice in  question.choice_set.all %}
                <input class="form-check-input" type="radio" name="answer" id="choice{{ forloop.counter }}" class="custom-control-input" value="{{ choice.id }}" required>
                <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </div>
            {% endif %}

            {% if question.is_multiple_answer %}
            <div class="form-check">
                {% for choice in  question.choice_set.all %}
                <input class="form-check-input" type="checkbox" name="answer" id="choice{{ forloop.counter }}" class="form-control" value="{{ choice.id }}">
                <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </div>
            {% endif %}

            <br>
            <input type="submit" value="Vote">
        </form>
        <form action="{% url 'polls:skip' question.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Skip">
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}