{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Apply</h2>
                <p>
                    Thanks for your interest Lowtox.org
                    We use a transactional email system to connect with applicants. Enter you email address below and we will send you an email with a unique link.
                    When you click the link in your email you'll be taken to our questionnaire page. Here you can answer questions about your application. Answer as many questions as you like from the available questions.
                </p>

                <form method="post">
                    {% csrf_token %}
                    <label for="email">Please enter your email address: </label>
                    <input id="email" type="email" name="email" required >
                    <input type="submit" value="OK">
                </form>
                {% if request.GET.message == 'check_email' %}
                <p>We have sent you an email with a link to connect.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}