{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main" >
<div class="container">
  <div class="row">
    <div class="col">
      <h2>INTRO</h2>
      <p>Unique opportunity for people wishing to turn around and maximize their health, heal from minor or major chronic disease holistically though avoiding and eliminating toxins and optimize their nutritional status.</p> 

      <p>Five most dedicated people will be selected from the applying candidates, for whom this program will be the major focus of their life throughout 2019/2020, who will volunteer in various tasks related to enabling and promoting low-toxin and holistically healthy living, while the I will support them financially with a budget of up to 70000 EUR total for the 5 people, which can be spent on various health related expenses like lab tests, consultations with holistic doctors, low-toxin food and detoxification supplements and medical procedures including dental care.</p>

      <p>Aside from from the above selected 5 candidates, more people may also be offered various other opportunities in the low-toxin lifestyle area, be invited to bid to provide services to low-toxin lifestyle projects development, a chance to connect with other people dedicated to low toxin living, and be informed about other opportunities in the future. Sign up with just your Email address to be informed about developments.</p>
    </div>
  </div>
</div>
</main>
{% endblock %}
