{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main">
<div class="container">
  <div class="row">
    <div class="col">
      <h2>TASKS</h2>
      <p>Participants would be expected to dedicate time to one of my various personal projects, which can be either performing tasks themselves, or helping to find, select and organise companies and contractors to perform these tasks:</p>
      <ul>
	<li>Building holistic health focused camping resorts in the mountains and seaside, with tents, baths, outdoor exercise park, and other health and fitness equipment</li>
	<li>Setting up an amateur laboratory to analyse heavy metals and other biomarkers like GSH with CV-AFS and GC-MS/MS</li>
	<li>Attending holistic health related conferences and promoting my projects at them, as well as on other occasions taking part in discussions with various scientific, medical and administrative representatives</li>
	<li>Creating website content and programming appropriations to track heath related data like food intake and blood test results</li>
	<li>Gathering information and writing reports on various subjects, ranging from research on certain biomarkers to reports helpful in selecting equipment to purchase</li>
	<li>As part of the deal, participants will be expected to write a detailed report about their health history, healing journey, including results of all laboratory testing, and share these reports to be used as published case studies</li>
      </ul>
    </div>
  </div>
</div>
</main>
{% endblock %}