{% extends 'mainwebsite/_layouts/page.html' %}

{% block content %}
<main role="main">
<div class="container">
  <div class="row">
    <div class="col">
      <h2>WHO CAN APPLY?</h2>
      <ul>
	<li>People who for whatever reason have a desire to lower the toxin body burden (heavy metals, pesticides, EMF)</li>
	<li>People who have or had dental amalgams and wish to remove them and/or detox the mercury, possibly having me finance the whole operation</li>
	<li>Biohackers and people into the Quantified Self movement, interested in optimising their nutritional body status (elements, vitamins, etc), though tracking and lab tests</li>
	<li>People with chronic disease of any kind: autoimmune, hormonal, neurodegenerative (ADHD, OCD, depression, brain-fog, fatigue), cancer, immune system, digestive system, who want to try the holistic approach instead of the band-aid approach that mainstream medicine offers</li>
	<li>Generally healthy people who wish to increase their mental and physical performance</li>
	<li>People without any health problems at the moment, but who want to minimize their risk of dementia, Alzheimer's and interested in longevity</li>
      </ul>
    </div>
  </div>
</div>
</main>
{% endblock %}
